.loginwindow{
  background: #fff;
  border: 1px solid #ddd;  
}

a:hover {
	text-decoration:none !important;
}

.collection-header h1 {
	margin: 90px auto;
    position: absolute;
    left: 40%;
}

.carousel-indicators li {

    background-color:red !importatnt;
}

.nav-tabs.nav-justified{
  border-bottom: 1px solid #ddd;
  position: relative;
  text-align:center;
}

.nav-tabs.nav-justified li {
  margin-bottom: none;
  position: initial;
  border-bottom: 0px solid;
  display:inline-block;
  *display:inline; /* ie7 fix */
   zoom:1; /* hasLayout ie7 trigger */
  width: 45%;
  margin-bottom:-5px;
}

.nav-tabs.nav-justified li a {
  position: initial;
  border-bottom: 0px solid;
  background: transparent;
  border: none;
  color: gray;
}

.nav-tabs.nav-justified> li.active > a,
.nav-tabs.nav-justified> li.active > a:focus,
.nav-tabs.nav-justified> li.active > a:hover{
  border-width: 0;
  color: black;
  font-weight: bold;
  border-bottom: 1px solid black;
  border-radius:0px;
}

.nav-tabs > li > a:hover {
  background: transparent;
}